<!DOCTYPE html>
<html>
  <head>
    <title>EEN API Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Raspberry Pi Access Control</h1>
    <p>RFID access control example integration with the Eagle Eye Networks API</p>
    <p>Badge Scan History:
        <ul id="scan_history"></ul>
    </p>
  </body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>
</html>
