body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.status_updates {
    width: 500px;
}

.status_updates img {
    height: 100px;
}

.authorized { background-color: rgb(218, 247, 159); }
.rejected { background-color: rgb(255, 155, 155); }
